header {
    background-color: var(--couleur-violet);
    background-image: none;
    transform: scale(1.01);
}

.content {
    padding-bottom: 60px; /* Espace pour le menu */
    /* background: linear-gradient(-45deg, #080118, #3b1988); */
    background: linear-gradient(-45deg, #04000e, #3b1988);
    animation: gradient 12s ease infinite;
    background-size: 400%;
}

@keyframes gradient{
    0% {
        background-position: 30% 50%;
    }
    50% {
        background-position: 90% 50%;
    }
    100%{
        background-position: 30% 50%;
    }
}




section {
    margin: 5rem 0;
    padding: 2rem;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pages {
    margin: 0;
    background-color: #0000;
    gap: 20px;
}



#pages .container_page {
    background-color: var(--couleur-section);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: justify;

    width: 100%;
    height: 450px;

    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#pages .container_page img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.lien_page {
    padding: 1rem;
    text-decoration: none;
    color: var(--couleur-noir);
    background-color: var(--couleur-beige);
    border-radius: 15px;
    
    transition: transform 0.3s ease-in-out;
}

.lien_page:hover {
    transform: rotate(3deg) scale(1.05);
}

#footer {
    background-color: var(--couleur-section);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


#info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#info #contact {
    height: 100%;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

#adresse {
    align-items: end;
    text-align: end;
    margin: 0;
}

#adresse p {
    margin: 0;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 1rem;
}




