.content {
    padding-bottom: 60px; /* Espace pour le menu */
    /* background: linear-gradient(-45deg, #080118, #3b1988); */
    background: linear-gradient(-45deg, #04000e, #3b1988);
    animation: gradient 12s ease infinite;
    background-size: 400%;
}

@keyframes gradient{
    0% {
        background-position: 30% 50%;
    }
    50% {
        background-position: 90% 50%;
    }
    100%{
        background-position: 30% 50%;
    }
}




section {
    margin: 5rem 0;
    padding: 2rem;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pages {
    background-color: #0000;

}

#footer {
    background-color: var(--couleur-section);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#pages .container_page {
    background-color: var(--couleur-section);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 15%;

    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}




#info #contact {
    height: 100%;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


