

.intro{
    margin: 0 15% 75px 15%;
    padding: 0 15px 15px 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.tab{
    margin: 0;
    padding: 0 ;
}

.texte{
    margin: 0 1% 0 1%;
}



/* Graphique */

.graphe-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.graphe {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.graphe-item {
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

.graphe-item img {
    width: 100%;
    height: auto;
    display: block;
}

.graphe-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    max-height: 50px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-button.prev {
    left: 10px;
}

.nav-button.next {
    right: 10px;
}




/* Tableau */

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    margin: 50px;
}

.tableau {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 25px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: var(--couleur-bleu);
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}