.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.histoire{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.histoire-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.histoire-col img {
    width:  100%;
}
.histoire-col h1{
    padding-top: 0;
}
.histoire-col p{
    padding: 15px 0 25px;
}


.text-box{
    width: 99%;
    color: #fff;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 
    text-align: center;
}

.text-box h1{
    font-size: 100px;
    font-style: oblique;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}



