* {
    --font-size-project-name: 32px;
    --height-projet: 300px;
}


.projets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.projet {    
    width: 70%;
    /* overflow: hidden; */

    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    height: var(--height-projet);
    display: flex;
    justify-content: space-between;

    transition: transform 0.3s ease-in-out;
}


.projet:hover {
    transform: scale(1.01) translateY(-5px);
}


.projet:nth-child(even),
#trailer .projet:nth-child(odd) {
    flex-direction: row;
    align-self: flex-start;
}

.projet:nth-child(odd),
#trailer .projet:nth-child(even) {
    flex-direction: row-reverse;
    align-self: flex-end;
}

.projet img {
    max-width: 55%;
    min-width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.projet-info {
    margin: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projet h3 {
    font-size: var(--font-size-project-name);
    font-family: var(--font-titre);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.projet h4 {
    font-size: calc(var(--font-size-project-name) * 0.6);
    font-family: var(--font-titre);
    font-weight: bold;
    margin-top: 0;
}

.projet p {
    font-size: 1.2rem;
    margin: 0;
}


.projet-info-cache {
    display: none;
    position: fixed;
    bottom: 10px;
    text-align: justify;
}

.projet:nth-child(even) .projet-info-cache,
#trailer .projet:nth-child(odd) .projet-info-cache {
    right: 0;
    transform: translateX(110%);
}

.projet:nth-child(odd) .projet-info-cache,
#trailer .projet:nth-child(even) .projet-info-cache {
    left: 0;
    transform: translateX(-110%);
}


.projet:hover .projet-info-cache {
    display: block;
}


