:root {
    --font-size-project-name: 32px;
    --height-projet: 300px;
    --max-width-main: 1200px;
    --max-width-project: 800px;
}

main {
    max-width: var(--max-width-main);
    margin: 0 auto;
    padding: 2rem;
    background-color: aliceblue;
}

.projets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.projet {    
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: var(--max-width-project);
    height: var(--height-projet);
    overflow: hidden;

    transition: transform 0.3s ease-in-out;
}

.projet:hover {
    transform: scale(1.01) translateY(-5px);
}


.projet:nth-child(even),
#trailer .projet:nth-child(odd) {
    flex-direction: row;
    align-self: flex-start;
}

.projet:nth-child(odd),
#trailer .projet:nth-child(even) {
    flex-direction: row-reverse;
    align-self: flex-end;
}


.projet h3 {
    font-size: var(--font-size-project-name);
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

.projet img {
    max-width: 55%;
    min-width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
